<div class="p-4">
    <div class="container">
        <h1>Projetos</h1>
        <a routerLink="add" class="btn btn-sm btn-success mb-2">Cadastrar Projeto</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 30%">Nome</th>
                    <th style="width: 30%">Imagem</th>
                    <th style="width: 30%">URL</th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="project user of projects">
                    <td>{{ project.nome }}</td>                    
                    <td>{{ project.url }}</td>
                    <td>{{ project.imagem }}</td>           
                    <td style="white-space: nowrap">
                        <a routerLink="edit/{{ project.id }}" class="btn btn-sm btn-primary mr-1">Editar</a>
                        <button (click)="deleteProject(project.id)" class="btn btn-sm btn-danger btn-delete-project" [disabled]="project.isDeleting">
                            <span *ngIf="project.isDeleting" class="spinner-border spinner-border-sm"></span>
                            <span *ngIf="!project.isDeleting">Excluir</span>
                        </button>
                    </td>
                </tr>
                <tr *ngIf="!projects">
                    <td colspan="4" class="text-center">
                        <span class="spinner-border spinner-border-lg align-center"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>